@CHARSET "UTF-8";

.img_size{
	width: 100px;
	height: 100px;
	margin: auto;	
}

.header_2>.main_logo{
	width: 500px;
	height:100px;
	text-align: center;	
	margin: 20px auto;
}

.header_search{
	padding: 10px;
	text-align: center;
	
}
.header_search>input[type="text"]{
	width: 200px;
	height: 24px;
	}
.header_search>input[type="button"]{
	width: 50px;
	height: 30px; 
	background-color: #fac28b;
	color: White;
	padding-bottom: 2px;
	border: none;
}
.header_search_1{
	background-image: url('../img/search1.png');
	background-position: center;
	background-repeat: no-repeat;
}
.header_search_2{
	background-image: url('../img/search2.png');
	background-position: center;
	background-repeat: no-repeat;
}
.content{
	width:1000px;
	overflow: hidden;
	margin: 0px auto;
	margin-top: 50px;
	padding: 2px;
}
.content_list{
}
.content_1{
	height: 150px;
	border: 0px solid red;
	text-align: center;
}
.content_1>div{
	width: 18%;
	height: 98%;
	float:left;	
	margin: 4px;
	padding-top: 10px;
}
.content_1>div:NTH-CHILD(1) {
	margin-left: 7px;
}

.content_2{
	height: 150px;
	text-align: center;
}
.content_2>div{
	width: 18%;
	height: 95%;
	float:left;	
	margin: 4px;
	padding-top: 10px;
}
.content_2>div:NTH-CHILD(1) {
	margin-left: 7px;
}.content_list2{
	margin-top:50px;
	text-align: center;
}
.content_noti{
	width:49%;
	height : 100px;
	border: 1px solid red;
	float: left;
	margin-left: 6px;
}
.content_rec{
	width:49%;
	height : 100px;
	border: 1px solid red;
	float: left;
}
.content_que{
	width:49%;
	height : 100px;
	border: 1px solid red;
	float: left;
	margin-left: 6px;
}
.content_inf{
	width:49%;
	height : 100px;
	border: 1px solid red;
	float: left;
}



