@CHARSET "EUC-KR";

.join_main {
	width:100%;
	margin:0px auto;
	text-align: center;
	overflow: hidden;
}

.join_top {
	width:900px;
	margin:0px auto;
	margin-top:50px;
	border-bottom:1px black solid;
	text-align:left;
	
}

.join_font {
	font-weight: bold;
    font-size:30px;
}

.join_menu {
	width:600px;
	margin:0px auto;
	margin-top:100px;
	/* border:1px black solid; */
}

.input_style1 {
	width:404px;
	height:40px;
	box-shadow:none;
  	margin-top:5px;
  	
  	border: 1px solid #d2d0d0;
   	font-size:15px;
}

.input_style2 {
	width:509px;
	height:40px;
  	box-shadow:none;
  	border:1px solid #d2d0d0;
  	font-size:15px;
  	margin-top:5px;
}

.input_style3{
	width:509px;
	height:50px;
	margin:0px auto;
}

.input_check{
	height:50px;
	width:100px;
	margin:10px 20px 0px 40px;
	float:left;
}

.button_style {
	height:40px;
	width:100px;
	margin-top:5px;
	border: none;
   	color: White;
}


.join_button {
	width:509px;
	height:40px;
	border: 1px solid;
   	background-color: #414141;
   	color: White;
	
	
	
}