@CHARSET "EUC-KR";

.Mag_main {
   width:100%;
   margin:0px auto;
   text-align: center;
   overflow: hidden;
}
.Mag_top {
   width:900px;
   margin:0px auto;
   margin-top:50px;
   border-bottom:1px black solid;
   text-align:left;
   font-weight: bold;
    font-size:30px;
   
}

.Mag_main_sub {
   width:750px;
   height:30px;
   margin:0px auto;
   margin-top:50px;
   border-bottom:1px black solid;

   text-align:left;
}

/*-------------------------------------관리자페이지 관리 search----------------------------------------*/
.Mag_search{
   margin:0px auto;
   width:750px;
   padding: 10px;
   text-align:right;
}

.Mag_search>input[type="text"]{
   width: 200px;
   height: 24px;
}

.Mag_search>input[type="button"]{
   width: 50px;
   height: 30px; 
   background-color: #fac28b;
   color: White;
   padding-bottom: 2px;
   border: none;
}

.Mag_search_2{
   background-image: url('/img/search2.png');
   background-position:center;
   background-repeat: no-repeat;
}

/*-------------------------------------관리자페이지 관리 search 긴거----------------------------------------*/
.Mag_search_long{
   margin:0px auto;
   width:750px;
   padding: 10px;
   margin-top:15px;
}

.Mag_search_long>input[type="text"]{
   width: 400px;
   height: 24px;
}

.Mag_search_long>input[type="button"]{
   width: 50px;
   height: 30px; 
   background-color: #fac28b;
   color: White;
   padding-bottom: 2px;
   border: none;
}

.Mag_search_long_search_2{
   background-image: url('/img/search2.png');
   background-position:center;
   background-repeat: no-repeat;
}


/*--------------------------리스트 전체보기 버튼 필요한 타이틀----------------------*/
.Mag_top_all{
   width:750px;
   height: 35px;
   margin:0px auto;
   margin-top:50px;
   border-bottom: 1px solid #414141;
}
.Mag_top_all>div{
   width: 185px;
   height: 26px;
   display: block;
   float:left;   
   margin: 4px;
}
.Mag_top_all>div>a{
   text-decoration: none;
   color: #414141;
}

.Mag_top_all>div:FIRST-CHILD{
    font-size: 20px;
    text-align: left;
    padding-left: 10px;
}
.Mag_top_all>div:LAST-CHILD{
   width: 18%;
   height: 20px;
   padding-top:10px;
    font-size: 13px;
    text-align: right;
}
/*-----------------------------------관리자페이지 리뷰관리 타이틀------------------------------*/
.Mag_review_title{
   width:750px;
   overflow: hidden;
   margin:0px auto;
   margin-top:40px;
   border-bottom:1px solid black;
}

.Mag_review_title>div{
   float:left;
}

.Mag_review_title>div:nth-child(1), .Mag_review_title>div:nth-child(2), 
.Mag_review_title>div:nth-child(3), .Mag_review_title>div:nth-child(4) {
   margin-right:5px;
}

.Mag_review_title>div:nth-child(1){
   width:150px;
   height:30px;
}

.Mag_review_title>div:nth-child(2) {
   width:120px;
   height:30px;
}
.Mag_review_title>div:nth-child(3) {
   width:270px;
   height:30px;
}
.Mag_review_title>div:nth-child(4) {
   width:100px;
   height:30px;
}
.Mag_review_title>div:nth-child(5) {
   width:80px;
   height:30px;
}


/*-----------------------관리자페이지 리뷰관리 리스트---------------------- */
.Mag_review_list {
   width:750px;
   overflow: hidden;
   margin:0px auto;
   margin-top:5px;
   border-bottom:1px solid black;   
}

.Mag_review_list>div{
   float:left;
}

.Mag_review_list>div:nth-child(1), .Mag_review_list>div:nth-child(2), 
.Mag_review_list>div:nth-child(3), .Mag_review_list>div:nth-child(4) {
   margin-right:5px;
}

.Mag_review_list>div:nth-child(1) {
   width:150px;
   height:30px;
}

.Mag_review_list>div:nth-child(2){
   width:120px;
   height:30px;
}

.Mag_review_list>div:nth-child(3){
   width:270px;
   height:30px;
}

.Mag_review_list>div:nth-child(4){
   width:100px;
   height:30px;
}

.Mag_review_list>div:nth-child(5){
   width:80px;
   height:30px;
}


/*-------------------관리자페이지 QnA관리 타이틀------------------------------*/

.Mag_qna_title{
   width:750px;
   overflow: hidden;
   margin:0px auto;
   margin-top:40px;
   border-bottom:1px solid black;
}

.Mag_qna_title>div{
   float:left;
}

.Mag_qna_title>div:nth-child(1), .Mag_qna_title>div:nth-child(2), 
.Mag_qna_title>div:nth-child(3), .Mag_qna_title>div:nth-child(4),
.Mag_qna_title>div:nth-child(5) {
   margin-right:5px;
}

.Mag_qna_title>div:nth-child(1){
   width:150px;
   height:30px;
}

.Mag_qna_title>div:nth-child(2) {
   width:100px;
   height:30px;
}
.Mag_qna_title>div:nth-child(3) {
   width:230px;
   height:30px;
}
.Mag_qna_title>div:nth-child(4) {
   width:100px;
   height:30px;
}
.Mag_qna_title>div:nth-child(5) {
   width:50px;
   height:30px;
}
.Mag_qna_title>div:nth-child(6) {
   width:80px;
   height:30px;
}

/*------------------관리자페이지 QnA관리 리스트---------------------- */
.Mag_qna_list {
   width:750px;
   overflow: hidden;
   margin:0px auto;
   margin-top:5px;
   border-bottom:1px solid black;
   
}

.Mag_qna_list>div{
   float:left;

}

.Mag_qna_list>div:nth-child(1), .Mag_qna_list>div:nth-child(2), 
.Mag_qna_list>div:nth-child(3), .Mag_qna_list>div:nth-child(4),
.Mag_qna_list>div:nth-child(5) {
   margin-right:5px;
}

.Mag_qna_list>div:nth-child(1) {
   width:150px;
   height:30px;
}

.Mag_qna_list>div:nth-child(2){
   width:100px;
   height:30px;
}

.Mag_qna_list>div:nth-child(3){
   width:230px;
   height:30px;
}
.Mag_qna_list>div:nth-child(4){
   width:100px;
   height:30px;
}
.Mag_qna_list>div:nth-child(5){
   width:50px;
   height:30px;
}
.Mag_qna_list>div:nth-child(6){
   width:80px;
   height:30px;
}

/*--------------------------관리자페이지 추천맛집관리 테이블 -----------------------------*/
.Mag_like_title{
   width:750px;
   overflow: hidden;
   margin:0px auto;
   margin-top:40px;
   border-bottom:1px solid black;
}
.Mag_like_title>div{
   float:left;
}

.Mag_like_title>div:nth-child(1), .Mag_like_title>div:nth-child(2), 
.Mag_like_title>div:nth-child(3), .Mag_like_title>div:nth-child(4) {
   margin-right:5px;
}

.Mag_like_title>div:nth-child(1){
   width:60px;
   height:30px;
}

.Mag_like_title>div:nth-child(2) {
   width:350px;
   height:30px;
}
.Mag_like_title>div:nth-child(3) {
   width:130px;
   height:30px;
}
.Mag_like_title>div:nth-child(4) {
   width:100px;
   height:30px;
}
.Mag_like_title>div:nth-child(5) {
   width:80px;
   height:30px;
}


/*------------------관리자페이지 추천맛집관리 리스트---------------------- */
.Mag_like_list {
   width:750px;
   overflow: hidden;
   margin:0px auto;
   margin-top:5px;
   border-bottom:1px solid black;   
}

.Mag_like_list>div{
   float:left;
}

.Mag_like_list>div:nth-child(1), .Mag_like_list>div:nth-child(2), 
.Mag_like_list>div:nth-child(3), .Mag_like_list>div:nth-child(4) {
   margin-right:5px;
}

.Mag_like_list>div:nth-child(1) {
   width:60px;
   height:30px;
}

.Mag_like_list>div:nth-child(2){
   width:350px;
   height:30px;
}
.Mag_like_list>div:nth-child(3){
   width:130px;
   height:30px;
}
.Mag_like_list>div:nth-child(4){
   width:100px;
   height:30px;
}
.Mag_like_list>div:nth-child(5){
   width:80px;
   height:30px;
}


/*--------------------------관리자페이지 공지사항관리 글쓰기버튼-------------------------------*/
.Mag_notice_top{
   width:750px;
   height: 35px;
   margin:0px auto;
   margin-top:50px;
   border-bottom: 1px solid #414141;
}

.Mag_notice_top>div{
   width:18%;
   height: 26px;
   display: block;
   float:left;   
   margin:4px;
}
.Mag_notice_top>div>a{
   text-decoration: none;
   color: #414141;
}

.Mag_notice_top>div:FIRST-CHILD{
    font-size: 20px;
    text-align: left;
    padding-left: 10px;
}
.Mag_notice_top>div:LAST-CHILD{
   width: 18%;
   height: 20px;
   padding-top:10px;
    font-size: 13px;
    text-align: right;
}



/*--------------------------관리자페이지 공지사항관리 타이틀 -----------------------------*/
.Mag_notice_title{
   width:750px;
   overflow: hidden;
   margin:0px auto;
   margin-top:40px;
   border-bottom:1px solid black;
}

.Mag_notice_title>div{
   float:left;
}

.Mag_notice_title>div:nth-child(1), .Mag_notice_title>div:nth-child(2), 
.Mag_notice_title>div:nth-child(3) {
   margin-right:5px;
}

.Mag_notice_title>div:nth-child(1){
width:375px;
   height:30px;
}

.Mag_notice_title>div:nth-child(2) {
   width:150px;
   height:30px;
}
.Mag_notice_title>div:nth-child(3) {
   width:100px;
   height:30px;
}
.Mag_notice_title>div:nth-child(4) {
   width:100px;
   height:30px;
}


/*------------------관리자페이지 공지사항관리 리스트---------------------- */
.Mag_notice_list {
   width:750px;
   overflow: hidden;
   margin:0px auto;
   margin-top:5px;
   border-bottom:1px solid black;   
}

.Mag_notice_list>div{
   float:left;
}

.Mag_notice_list>div:nth-child(1), .Mag_notice_list>div:nth-child(2), 
.Mag_notice_list>div:nth-child(3) {
   margin-right:5px;
}

.Mag_notice_list>div:nth-child(1) {
   width:375px;
   height:30px;
}

.Mag_notice_list>div:nth-child(2){
   width:150px;
   height:30px;
}
.Mag_notice_list>div:nth-child(3){
   width:100px;
   height:30px;
}
.Mag_notice_list>div:nth-child(4){
   width:100px;
   height:30px;
}

/*------------------관리자페이지 주문결제내역 현재주문내역 리스트---------------------- */
.account_Mag_list_title{
   width:750px;
   overflow: hidden;
   margin:0px auto;
   margin-top:40px;
   border-bottom:1px solid black;
}

.account_Mag_list_title>div{
   float:left;
}

.account_Mag_list_title>div:nth-child(1), .account_Mag_list_title>div:nth-child(2), 
.account_Mag_list_title>div:nth-child(3), .account_Mag_list_title>div:nth-child(4),
.account_Mag_list_title>div:nth-child(5), .account_Mag_list_title>div:nth-child(6)    {
   margin-right:5px;
}

.account_Mag_list_title>div:nth-child(1){
   width:50px;
   height:30px;
}

.account_Mag_list_title>div:nth-child(2) {
   width:120px;
   height:30px;
}
.account_Mag_list_title>div:nth-child(3) {
   width:185px;
   height:30px;
}
.account_Mag_list_title>div:nth-child(4) {
   width:100px;
   height:30px;
}
.account_Mag_list_title>div:nth-child(5) {
   width:100px;
   height:30px;
}
.account_Mag_list_title>div:nth-child(6) {
   width:100px;
   height:30px;
}
.account_Mag_list_title>div:nth-child(7) {
   width:50px;
   height:30px;
}


/*------------------관리자페이지 주문결제내역 현재주문내역 리스트---------------------- */
.account_Mag_list_list {
   width:750px;
   overflow: hidden;
   margin:0px auto;
   margin-top:5px;
   border-bottom:1px solid black;   
}

.account_Mag_list_list>div{
   float:left;

}

.account_Mag_list_list>div:nth-child(1), .account_Mag_list_list>div:nth-child(2), 
.account_Mag_list_list>div:nth-child(3), .account_Mag_list_list>div:nth-child(4),
.account_Mag_list_list>div:nth-child(5), .account_Mag_list_list>div:nth-child(6) {
   margin-right:5px;
}

.account_Mag_list_list>div:nth-child(1) {
   width:50px;
   height:30px;
}

.account_Mag_list_list>div:nth-child(2){
   width:120px;
   height:30px;
}
.account_Mag_list_list>div:nth-child(3){
   width:185px;
   height:30px;
}
.account_Mag_list_list>div:nth-child(4){
   width:100px;
   height:30px;
}

.account_Mag_list_list>div:nth-child(5){
   width:100px;
   height:30px;
}

.account_Mag_list_list>div:nth-child(6){
   width:100px;
   height:30px;
}

.account_Mag_list_list>div:nth-child(6)>select{
   width:100px;
   height:25px;

}

.account_Mag_list_list>div:nth-child(7){
   width:50px;
   height:30px;
}

/*--------------------------업체정보관리 업체정보 리스트------------------------------*/
.Mag_store_info_title{
   width:750px;
   overflow: hidden;
   margin:0px auto;
   margin-top:40px;
   border-bottom:1px solid black;
}

.Mag_store_info_title>div{
   float:left;
}

.Mag_store_info_title>div:nth-child(1), .Mag_store_info_title>div:nth-child(2), 
.Mag_store_info_title>div:nth-child(3), .Mag_store_info_title>div:nth-child(4),
.Mag_store_info_title>div:nth-child(5), .Mag_store_info_title>div:nth-child(6),
.Mag_store_info_title>div:nth-child(7), .Mag_store_info_title>div:nth-child(8)     {
   margin-right:5px;
}

.Mag_store_info_title>div:nth-child(1){
   width:50px;
   height:30px;
}

.Mag_store_info_title>div:nth-child(2) {
   width:120px;
   height:30px;
}
.Mag_store_info_title>div:nth-child(3) {
   width:185px;
   height:30px;
}
.Mag_store_info_title>div:nth-child(4) {
   width:100px;
   height:30px;
}
.Mag_store_info_title>div:nth-child(5) {
   width:100px;
   height:30px;
}
.Mag_store_info_title>div:nth-child(6) {
   width:100px;
   height:30px;
}
.Mag_store_info_title>div:nth-child(7) {
   width:50px;
   height:30px;
}
.Mag_store_info_title>div:nth-child(8) {
   width:50px;
   height:30px;
}
.Mag_store_info_title>div:nth-child(9) {
   width:50px;
   height:30px;
}


/*------------------관리자페이지 주문결제내역 현재주문내역 리스트---------------------- */
.account_Mag_list_list {
   width:750px;
   overflow: hidden;
   margin:0px auto;
   margin-top:5px;
   border-bottom:1px solid black;   
}

.account_Mag_list_list>div{
   float:left;

}

.account_Mag_list_list>div:nth-child(1), .account_Mag_list_list>div:nth-child(2), 
.account_Mag_list_list>div:nth-child(3), .account_Mag_list_list>div:nth-child(4),
.account_Mag_list_list>div:nth-child(5), .account_Mag_list_list>div:nth-child(6) {
   margin-right:5px;
}

.account_Mag_list_list>div:nth-child(1) {
   width:50px;
   height:30px;
}

.account_Mag_list_list>div:nth-child(2){
   width:120px;
   height:30px;
}
.account_Mag_list_list>div:nth-child(3){
   width:185px;
   height:30px;
}
.account_Mag_list_list>div:nth-child(4){
   width:100px;
   height:30px;
}

.account_Mag_list_list>div:nth-child(5){
   width:100px;
   height:30px;
}

.account_Mag_list_list>div:nth-child(6){
   width:100px;
   height:30px;
}

.account_Mag_list_list>div:nth-child(6)>select{
   width:100px;
   height:25px;

}

.account_Mag_list_list>div:nth-child(7){
   width:50px;
   height:30px;
}