@CHARSET "UTF-8";

.manager_top{
   width:900px;
   margin:0px auto;
   margin-top:50px;
   border-bottom: 1px solid #414141;
   text-align:left;
}

.manager_font{
	font-weight: bold;
    font-size:30px;
}

.manager_menu{
	width:900px;
    margin:0px auto;
	text-align:left;
}